<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Omeka</string>
	<key>ordering</key>
	<array>
		<string>7E8B4744-0E84-4B9B-B359-E6937CF37450</string>
	</array>
	<key>uuid</key>
	<string>339C010C-643D-457C-A2BB-CF3014533BF6</string>
</dict>
</plist>
