<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Omeka</string>
	<key>uuid</key>
	<string>A8CD1E27-0CD6-475A-B71D-931B6EFB6C4D</string>
</dict>
</plist>
